body{
	text-align:center;
}

p{
	font-size:large;
	text-align:left;
}
table{
	border-collapse:collapse;
	border: 1px solid black;
	display: inline-block;
}
th{
	background:silver;
}
th, td{
	padding: 0cm 2.0pt 0cm 2.0pt;
	height:13.5pt;
	font-family:Arial;
	font-size:large;
	border: 1px solid black;
}

